html, body {
    padding: 0;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}
body {
    display: flex;
    flex-direction: column;
}

/***************************************************** CABECERA********************************************************/
header {
    height: 130px;
    /*border: 1px solid green;*/
}
header > div.content {
    margin-top: 10px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    /*border: 1px solid red;*/
}
header > div.content > div.sitio {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}
header > div.content > div.sitio a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}
header > div.content > div.titulo {
    font-size: .8em;
    margin-top: 5px;
}

/***************************************************** NAVEGACION  ******************************************************/
header > div.content > nav > ul {
    margin-top: 0;
    margin-left: 0;
    list-style: none;
}
header > div.content > nav a:link,
header > div.content > nav a:visited {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
header > div.content > nav a:hover {
    color: rgba(0, 0, 0, 0.5);
}
header > div.content > nav a.activo {
    color: rgb(189, 55, 0)
}
header > div.content > nav > ul {
    padding-left: 0;
}
header > div.content > nav > ul > li {
    display: inline-block;
    margin-right: 10px;
    font-weight: bold;
    font-size: .8em;
}

/***************************************************** PRINCIPAL ******************************************************/
main {
    flex: auto;
    background-color: rgb(244, 244, 244);
}

/***************************************************** FOOTER *********************************************************/
footer {
    height: 200px;
}
/***************************************************** COMUN **********************************************************/
.content {
    margin: 0 auto;
    max-width: 750px;
}
.upper {
    text-transform: uppercase;
}
.pad-20-0-10-0 {
    padding: 10px 0 10px 0;
}
.pad-20-0-10-10 {
    padding: 10px 0 10px 10px;
}
.colorContraste {
    color: rgb(189, 55, 0);
}
.bold {
    font-weight: bold;
}

/***************************************************** INDEX ***********************************************************/
h1 {
    text-align: center;
    font-size: 1.8rem;
}
main.indice {
    padding-top: 20px;
}
section.sectionI1 {
    height: 300px;
    background-image: url("../images/bg-hero-home.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top right;
    color: white;
}
section.sectionI1 > div.content {
    height: 300px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 3.4em;
    line-height: 1.5em;
}
section.sectionI2 {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-bottom: 100px;
}
section.sectionI3 {
    line-height: 1.5em;
    margin-bottom: 20px;
}
section.sectionI3 > div.noticias > article > p.artitulo-enlace > a {
    text-decoration-style: dotted;
    text-underline-offset: 1px;
}
section.sectionI3 > div.noticias > article > p.artitulo-enlace > a:hover {
    color: rgb(0, 0, 0);
}
section.sectionI3 > div.noticias > article > p.articulo-titulo > a {
    text-decoration: none;
}
section.sectionI3 > div.noticias > article > p.articulo-titulo > a:hover {
    color: rgb(0, 0, 0);
}
section.sectionI3 > div.noticias {
    display: flex;
    flex-direction: row;
}
section.sectionI3 > div.noticias > article {
    width: 30%;
}
section.sectionI3 > div.noticias > article > figure > img.sectionI3Img {
    max-width: 100%;
    height: auto;
}
section.sectionI3 > div.noticias {
    display: flex;
    justify-content: space-between;
}
section.sectionI3 > div.noticias > article > figure {
    margin: 0;
    font-size: .7em;
}
section.sectionI3 > div.noticias > article > figure > figcaption {
    margin-top: 10px;
}
section.sectionI3 > div.noticias > article > div.artitulo-titulo {
    font-size: .9em;
    font-weight: bolder;
}
section.sectionI3 > div.noticias > article > div.artitulo-articulo {
    font-size: .8em;
    line-height: 1.5em;
}
section.sectionI3 > div.noticias > article > div.artitulo-enlace {
    font-size: .7em;
}
section.sectionI4 {
    background-color: rgb(242, 232, 228);
}
section.sectionI4 > div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*border:1px solid red;*/
}
section.sectionI4 > div.content > form {
    /*border: 1px solid green;*/
    width: 80%;
}
section.sectionI4 > div.content > form a {
    color: rgb(189, 55, 0);
    text-decoration: none;
}
section.sectionI4 > div.content > form a:hover {
    color: rgb(0, 0, 0);
}
section.sectionI4 > div.content > form {
    display: flex;
    flex-direction: column;
    font-size: .5em;
    line-height: 1.3em;
    width: 50%;
}
section.sectionI4 > div.content > form input[type=checkbox] {
    margin-left: 0;
    color: green;
    transform: scale(.8);
}
section.sectionI4 > div.content > form input[type=text] {
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid black;
}
section.sectionI4 > div.content > form label {
    display: flex;
    align-items: center
}
section.sectionI4 > div.content > form button {
    color: rgb(255, 255, 255);
    background-color: rgb(189, 55, 0);
    width: 150px;
    padding: 10px 0px 10px 0px;
    border: 0;
    margin: 10px 0 40px 0;
}
section.sectionI4 > div.content > form button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
}

/***************************************************** FOOTER *********************************************************/
footer {
    height: 220px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
}
footer > div.content {
    display: flex;
    flex-direction: column;
    justify-content: center;

}
footer > div.content > div.redes > p > a,
footer > div.content > div.redes > p > a:link,
footer > div.content > div.redes > p > a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer > div.content > div.redes > p > a:hover {
    opacity: 0.7;
}
footer > div.content > div > ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
    color: rgb(255, 255, 255);

}
footer > div.content > div > ul > li > a:link,
footer > div.content > div > ul > li > a:visited,
footer > div.content > div > ul > li > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}
footer > div.content > div > ul > li > a:hover {
    color: rgb(198, 55, 0);
}
footer > div.content > div > ul > li,
footer > div.content > div > p {
    display: inline-block;
    margin-right: 10px;
    font-size: .9em;
}

/***************************************************** COMUN RESPONSIVE*************************************************/
@media (max-width: 375px) {
/*@media (max-width: 500px) {*/

    header {
        height: 185px;
    }
    header > div.content {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    header > div.content > nav > ul > li {
        display: block;
        font-weight: bold;
        font-size: 1em;
        line-height: 1.5em;
    }
    footer {
        padding: 50px;
    }
    footer > div.content > div > ul > li,
    footer > div.content > div > p {
        display: block;
        text-align: center;
        font-size: .9em;
    }
    h1 {
        font-size: 3vh;
    }
    main {
        padding: 0 10px 0 10px;
    }
/***************************************************** INDEX RESPONSIVE ***********************************************/

    section.sectionI1 {
        height: 300px;
        background-size: 200%;
        background-position: top right;
    }
    section.sectionI1 > div.content {
        display: flex;
        justify-content: left;
        align-items: center;
        font-size: 1.9em;
        line-height: 1.7em;
    }
    section.sectionI1 > div.content > div {
        width: 80%;
        margin-left: 15px;
    }

    section.sectionI3 > div.noticias {
        flex-direction: column;
    }
    section.sectionI3 > div.noticias > article {
        width: 100%;
        font-size: 1.5em;
    }
    section.sectionI3 > div.noticias > article > figure > figcaption {
        margin-top: 10px;
    }
    section.sectionI3 > div.noticias > article > div.artitulo-titulo {
        font-weight: bolder;
    }
    section.sectionI3 > div.noticias > article > div.artitulo-articulo {
        line-height: 1.5em;
    }
    section.sectionI3 > div.noticias > article > div.artitulo-enlace {
        font-size: .7em;
    }

    section.sectionI4 > div.content >  h1 {
        width: 82%;
    }
    section.sectionI4 > div.content > form {
        display: flex;
        flex-direction: column;
        font-size: .5em;
        line-height: 1.3em;
        width: 82%;
    }
    section.sectionI4 > div.content > form a {
        color: rgb(189, 55, 0);
        text-decoration: none;
    }
    section.sectionI4 > div.content > form a:hover {
        color: rgb(0, 0, 0);
    }
    section.sectionI4 > div.content > form input[type=checkbox] {
        margin-left: 0;
        transform: scale(.8);
    }
    section.sectionI4 > div.content > form input[type=text] {
        margin-bottom: 10px;
        width: 100%;
    }
    section.sectionI4 > div.content > form label {
        display: flex;
        align-items: center
    }
    section.sectionI4 > div.content > form button {
        color: rgb(255, 255, 255);
        background-color: rgb(189, 55, 0);
        width: 125px;
        padding: 15px;
        border: 0;
        margin: 10px 0 40px 0;
    }
    section.sectionI4 > div.content > form button:hover {
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
    }

/***************************************************** SINTOMA RESPONSIVE *********************************************/

/***************************************************** VIDEO RESPONSIVE ***********************************************/

/***************************************************** COP25 RESPONSIVE ***********************************************/
}


